---
layout: default
---
<div class="posts" id="articles">
  {% for post in site.posts %}
    {% if post.reserve %}
    <article class="post" v-if="isPast(`{{ post.reserve | date_to_xmlschema }}`)">
    {% else %}
    <article class="post">
    {% endif %}
      <div class="date">{{ post.date | date: "%F" }}</div>
      <h1 class="post"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      {% for tag in post.tags %}
        <a href="/tags/{{ tag }}" class="tags">{{ tag }}</a>
      {% endfor %}
      
      <section class="post-excerpt" itemprop="description">
      {% if post.outline %}
      <p>{{ post.outline }}</p>
      {% else %}
      <p>{{ post.content | strip_html | truncatewords: 30 }}</p>
      {% endif %}
      </section>
    </article>
  {% endfor %}
</div>

  <script>
  var app = new Vue({
    el: '#article',
    methods: {
        isPast: function(strXmlSchema) {
            var now = new Date().getTime();
            var rsvTime = new Date(strXmlSchema).getTime();

            return (now > rsvTime);
        }
    }
  })
</script>
