---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <section class="post-excerpt" itemprop="description">
        
      {% if post.outline %}
      <p>{{ post.outline }}</p>
      {% else %}
      <p>{{ post.content | strip_html | truncatewords: 30 }}</p>
      {% endif %}
      </section>
      
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      <span class="disqus-comment-count" data-disqus-url="https://kat-kai.github.io{{ site.baseurl }}{{ post.url }}">First article</span>
    </article>
  {% endfor %}
</div>
