---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <section class="post-excerpt" itemprop="description">
        
      {% if post.outline %}
      <p>{{ post.outline }}</p>
      {% else %}
      <p>{{ post.content | strip_html | truncatewords: 30 }}</p>
      {% endif %}
      </section>
      <br>
      <div class="date">{{ post.date | date: "%F" }}</div>
    </article>
  {% endfor %}
</div>
