    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html | strip_newlines | truncate: 100 }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html | strip_newlines | truncate: 100  }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}{{ page.outline }}">
    <meta property="og:description" content="{{ site.description }}{{ page.outline }}" />
    {% endif %}
    <meta name="author" content="kat-kai" />
    <meta name="title" content="{{ site.name }}" />

    {% if page.title %}
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{ page.title }}" />

        {% if page.cardImage %}
            <meta name="og:image" content="{{ page.cardImage }}" />
        {% else %}
            <meta name="og:image" content="https://kat-kai.github.io/images/ic.png" />
        {% endif %}

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@katkai3" />
    {% endif %}
