<style type="text/css">
    .sns-buttons ul {
        margin: 0;
        list-style: none;
        padding: 0 10%;
    }
    .sns-buttons li {
        width: 100px;
        float: left;
    }
    @media screen and (min-width: 480px) {
        .sns-buttons li {
            width: 20%;
        }
    }
    .sns-buttons li > a {
        display: block;
        color: #fff;
        padding: 10px 0;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
    }
</style>

<h3 style="border-top: 1px solid #ddd; padding: 10px 2.5% 0;">投稿をシェアする</h3>

<div class="sns-buttons">
<ul>
<li class="facebook" style="background-image:linear-gradient(#4e69a2, #3b5998 50%)">
<a href="https://www.facebook.com/sharer.php?u={{ site.url | cgi_escape }}{{ page.url  | cgi_escape }}" rel="nofollow" target="_blank" title="Facebookで共有">Facebook</a>
</li>
<li class="twitter" style="background-color:#00aced">
<a href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}+–+{{ site.name | uri_escape  }}&amf;url={{ site.url | cgi_escape }}{{ page.url  | cgi_escape }}" rel="nofollow" target="_blank" title="Twitterで共有">Twitter</a>
</li>
<li class="hatena" style="background-color:#008fde">
<a href="http://b.hatena.ne.jp/add?mode=confirm&amf;url={{ site.url | cgi_escape }}{{ page.url  | cgi_escape }}" rel="nofollow" target="_blank" title="はてなブックマークで共有">はてな</a>
</li>
<li class="gplus" style="background-color:#dd4b39">
<a href="https://plus.google.com/share?url={{ site.url | cgi_escape }}{{ page.url  | cgi_escape }}" rel="nofollow" target="_blank" title="Google+で共有">Google+</a>
</li>
<li class="line" style="background-color: #00c300">
<a href="http://line.me/R/msg/text/" rel="nofollow" target="_blank" title="LINEで共有">LINE</a>
</li>
</ul>
</div>
